<#@ include file="ButtonTemplate.ttinclude" #>
<#@ parameter type="YogurtTheHorse.Messenger.LayoutGenerator.Generator" name="generator" #>
<#@ parameter type="YogurtTheHorse.Messenger.LayoutGenerator.Descriptions.ButtonDescription" name="buttonDescription" #>
<#    PrintHeader(generator, buttonDescription, "UsualButtonInfo");#>
        public <#=        buttonDescription.Name#>() : base("<#=        buttonDescription.Text#>") { }
<#    PrintEnd(generator, buttonDescription);#>